.login {
    margin: auto;
    width: 100%;
    padding: 10px;
    background-color: #D8E3E7;
    font-style: normal;
    font-size: 90%:;
    font-family: system-ui;
    color: #132C33

}


.header {
  overflow: hidden;
  background-color: #132C33;
  padding: 20px 10px;
   font-style: normal;
    font-size: 100%:;
    font-family: system-ui;
    text-align: center;
    color: #D8E3E7
}

body {
  background-color: #D8E3E7;
  
}



h1 {
	text-align: center;
}

label {
	display: block;
	margin: 10px 0 5px 0;
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	background-color: #126E82;
	color: white;
	padding: 14px 20px;
	margin: 10px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.dropbtn {
  background-color: #126E82;
  color: #D8E3E7;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #51C4D3;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #1893AD;
}